@model IEnumerable<Models.MailChatRecords>

@{
    ViewBag.Title = "CreateChat";
    Layout = null;
}

<div>
    <div style="text-align :center ; height :10px;">
        <strong id="getUser">  xxxx  </strong>        @*头部名称*@
    </div> <hr>

    @*聊天内容*@
    <div style="height :370px; overflow :auto ; background:url(../../Content/images/load/yinyuechat.png) no-repeat;height :370px ; ">
        <div style="display :flex ; flex-flow:column-reverse ; align-items :baseline;" id="MsgList">

            @foreach (var item in Model)
            {
                <div style="display :flex ;">
                    <img class="img-circle photo" alt="singer" src="@item.Users1.photo  " style="width:40px;height :40px; margin-top :15px;" />
                    <div>
                        <div style="display :flex ;">
                            <p style="margin-left :15px; margin-top :10px; color :#808080 ; font-size :13px;">发给 @item.Users.name 的消息：   </p>
                            <p style="margin-left :20px; margin-top :10px; color:#808080 ;font-size :10px;">  ( @item.sent_time ) </p>
                        </div>
                        <p style="margin-top :10px; margin-left :20px;font-size:14px;"> @item.content   </p>
                    </div>
                </div>
            }

        </div>
        @*<a name="bottom"></a>*@    <!--锚点处-->
    </div>

</div>

<hr>
