.Big-about::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

.section {
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
}

    .section .section-top {
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        margin-bottom: 15px;
    }

        .section .section-top a {
            font-size: 18px;
            font-weight: 600;
        }

            .section .section-top a:hover {
                cursor: pointer;
                text-decoration: underline;
            }

        .section .section-top span {
            font-size: 16px;
            color: #999;
            font-weight: 600;
        }
            /*∑÷œÌ*/
            .section .section-top span:last-child {
                float: right;
                font-size: 18px;
                color: #666;
                font-weight: 600;
            }

.main {
    width: 1100px;
    margin: 0 auto;
}

    .main .main-top {
        width: 1100px;
        /*height: 530px;*/
    }

        .main .main-top .main-top-left {
            width: 440px;
            /*height: 530px;*/
            float: left;
        }

            .main .main-top .main-top-left .imgbox {
                width: 440px;
                height: 440px;
                position: relative;
                background: #eee
            }

#mask {
    width: 175px;
    height: 175px;
    background: grey;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    display: none;
    cursor: move;
}

.main .main-top .main-top-left .imgbox .bigimg {
    position: absolute;
    top: 0;
    left: 450px;
    width: 450px;
    height: 450px;
    overflow: hidden;
    background: #eee;
    display: none;
}

    .main .main-top .main-top-left .imgbox .bigimg img {
        width: 800px;
        height: 800px;
        position: relative;
    }

.smnav {
    width: 440px;
    height: 80px;
    margin-top: 10px;
}

    .smnav ul li {
        float: left;
        width: 80px;
        height: 80px;
        background: #ddd;
        margin: 0 10px;
        cursor: pointer;
    }

        .smnav ul li.active {
            border: 2px solid orangered;
        }

        .smnav ul li img {
            height: 80px;
            width: 80px;
        }

.main .main-top .main-top-right {
    width: 580px;
    height: 460px;
    float: right;
}

    .main .main-top .main-top-right .basic {
        width: 580px;
        height: 285px;
    }

        .main .main-top .main-top-right .basic h2 {
            font-weight: normal;
        }

        .main .main-top .main-top-right .basic .price {
            font-size: 30px;
            color: #d33a31;
            padding-top: 15px;
            font-weight: bolder;
            letter-spacing: 2px
        }

        .main .main-top .main-top-right .basic .sale {
            color: #999;
            font-size: 14px;
            margin-top: 15px;
        }

            .main .main-top .main-top-right .basic .sale span {
                color: red;
            }

        .main .main-top .main-top-right .basic .coupons {
            color: #999;
            font-size: 14px;
            margin-top: 15px;
            float: left;
        }

            .main .main-top .main-top-right .basic .coupons .coupon {
                float: right;
                display: inline-block;
                width: 520px;
                height: 30px;
                background: rgba(255, 69, 0, 0.1);
                line-height: 30px;
                margin-left: 30px;
                margin-top: -25px;
                color: #333
            }

                .main .main-top .main-top-right .basic .coupons .coupon .label {
                    margin-left: 8px;
                    border: 1px solid red;
                    color: red;
                    margin-right: 6px;
                }

                .main .main-top .main-top-right .basic .coupons .coupon span:last-child {
                    color: #999;
                    margin-left: 5px;
                }

        .main .main-top .main-top-right .basic .color-select {
            margin-top: 50px;
            width: 580px;
            height: 60px;
        }

            .main .main-top .main-top-right .basic .color-select span {
                float: left;
                color: #999;
                font-size: 14px;
                margin-right: 26px;
                margin-top: 8px;
            }

            .main .main-top .main-top-right .basic .color-select ul li {
                float: left;
                width: 60px;
                height: 30px;
                border: 1px solid #ccc;
                text-align: center;
                line-height: 30px;
                margin-right: 20px;
                font-size: 12px;
                cursor: pointer;
            }

                .main .main-top .main-top-right .basic .color-select ul li.active {
                    border: 1px solid #000;
                }

        .main .main-top .main-top-right .basic .num {
            width: 580px;
            height: 60px;
        }

            .main .main-top .main-top-right .basic .num span {
                float: left;
                color: #999;
                font-size: 14px;
                margin-right: 26px;
                margin-top: 8px;
            }

            .main .main-top .main-top-right .basic .num ul li {
                float: left;
                width: 35px;
                height: 30px;
                border: 1px solid #ccc;
                text-align: center;
                line-height: 30px;
                font-size: 26px;
                cursor: pointer;
            }

            .main .main-top .main-top-right .basic .num ul span {
                margin: 0;
            }

            .main .main-top .main-top-right .basic .num ul input {
                width: 60px;
                height: 30px;
                border: 1px solid #ccc;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
            }

    .main .main-top .main-top-right .services span {
        color: #999;
        font-size: 14px;
        margin-right: 26px;
        margin-top: 8px;
    }

        .main .main-top .main-top-right .services span a {
            font-size: 14px;
            cursor: pointer;
            margin-right: 15px;
        }

            .main .main-top .main-top-right .services span a:hover {
                text-decoration: underline
            }

    .main .main-top .main-top-right .buy {
        width: 580px;
        margin-top: 35px;
    }

        .main .main-top .main-top-right .buy span {
            text-align: center;
            display: inline-block;
            line-height: 46px;
            width: 130px;
            height: 46px;
            border: 2px solid #d33a31;
            font-size: 18px;
        }

            .main .main-top .main-top-right .buy span:first-child {
                margin-right: 10px;
                background: #fff
            }

            .main .main-top .main-top-right .buy span:last-child {
                background: #d33a31;
                color: white;
            }

.addcart .buynow {
    cursor: pointer;
}

.main .taocan {
    width: 1140px;
    height: 400px;
    border: 1px solid #eee;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
}

    .main .taocan p:first-child {
        width: 1140px;
        height: 40px;
        background: #eee;
        line-height: 40px;
        padding-left: 20px;
        font-weight: bold;
        color: #000;
    }

    .main .taocan ul {
        width: 1140px;
        height: 80px;
        margin-left: 10px;
    }

        .main .taocan ul li {
            float: left;
            line-height: 80px;
            margin: 0 20px;
            color: #999;
            cursor: pointer;
        }

            .main .taocan ul li.active {
                color: #000
            }

            .main .taocan ul li:hover {
                color: #000
            }

    .main .taocan img {
        position: absolute;
        bottom: 0;
        left: 0;
    }

.main .about {
    margin-top: 50px;
}

    .main .about::after,
    .title-list::after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
    }

    .main .about .left {
        float: left;
        width: 700px;
    }

    .main .about .right {
        float: right;
        width: 340px;
    }

    .main .about .section-top {
        width: 100%;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
    }

        .main .about .section-top span {
            font-size: 22px;
            font-weight: 400;
        }

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.main .about .right ul {
    margin-top: 30px;
}

    .main .about .right ul li {
        height: 100px;
        width: 340px;
        overflow: hidden;
        margin-top: 20px;
    }

        .main .about .right ul li img {
            display: block;
            float: left;
            width: 100px;
            height: 100px;
        }

        .main .about .right ul li .wrap {
            float: right;
            height: 100%;
            width: 230px;
        }

            .main .about .right ul li .wrap span {
                cursor: pointer;
                font-size: 12px;
            }

            .main .about .right ul li .wrap .title:hover {
                text-decoration: underline;
            }

            .main .about .right ul li .wrap span:first-child {
                color: red;
                border: 1px solid red;
                font-size: 12px;
                padding: 1px;
            }

            .main .about .right ul li .wrap p {
                margin-top: 35px;
                color: #d33a31;
                font-weight: bold;
                letter-spacing: 1px
            }

.about .left img {
    margin: 0;
    width: 700px;
    display: block;
}
/*œ¬¿≠*/
.topbar {
    width: 73%;
    height: 70px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    background: white;
    overflow: hidden;
    display: none;
}

    .topbar .main {
        margin: 0 auto;
    }

        .topbar .main img {
            float: left;
            width: 50px;
            height: 50px;
            margin-top: 10px;
            background: #eee;
        }

        .topbar .main ul {
            float: left;
            margin-top: 12px;
        }

        .topbar .main li {
            margin-bottom: 8px;
            margin-left: 20px;
        }

            .topbar .main li:last-child {
                color: #d33a31;
                font-weight: bold;
                letter-spacing: 1px
            }

        .topbar .main .buy {
            float: right;
            margin-top: 10px;
        }

            .topbar .main .buy span {
                text-align: center;
                display: inline-block;
                line-height: 46px;
                width: 166px;
                height: 46px;
                border: 2px solid #d33a31;
                font-size: 18px;
            }

                .topbar .main .buy span:first-child {
                    margin-right: 10px;
                    background: #fff
                }

                .topbar .main .buy span:last-child {
                    background: #d33a31;
                    color: white;
                }

.Buynow .buynow {
    text-align: center;
    display: inline-block;
    line-height: 46px;
    width: 130px;
    height: 46px;
    border: 2px solid #d33a31;
    font-size: 18px;
}

    .Buynow .buynow:first-child {
        margin-right: 10px;
        background: #fff
    }

    .Buynow .buynow:last-child {
        background: #d33a31;
        color: white;
    }

.Collect .collect {
    text-align: center;
    display: inline-block;
    line-height: 46px;
    width: 130px;
    height: 46px;
    border: 2px solid #d33a31;
    font-size: 18px;
}

    .Collect .collect:first-child {
        margin-right: 10px;
        background: #fff
    }

    .Collect .collect:last-child {
        background: #d33a31;
        color: white;
    }


.pagination-container {
    text-align: center;
}

.Comment {
    width: 700px;
    height:710px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding-left: 5px;
    position: relative;
}
.Comment .block{
    display:inline-block;
}
.Comment .sum{
    display:inline-block;
    width:700px;
    height:50px;
    background-color:#ff0036;
    border-radius:10px;
}
    .Comment .sum span {
        display: block;
        font-size: 17px;
        margin: 8px 21px;
        color: #fff;
        
        margin:11px 0 0 22px;
    }
    .Comment .sorce {
        display: inline-block;
        height: 100px;
        width: 180px;
        background-color: aliceblue;
        border: 0.5px solid #c8c8c8;
        border-radius: 10px;
        border-right:none;
    }
    .Comment .sorce span{
        display:inline-block;
        margin:12px 0 0 35px;
    }
        .Comment .sorce .stone {
            color: #f60;
            font-family: arial;
            font-size: 24px;
            line-height: 32px;
            position: relative;
            left: -57px;     
            top: 35px;
        }
    .Comment .content {
        display: inline-block;
        position: absolute;
        height: 100px;
        width: 520px;
        border: 0.5px solid #c8c8c8;
        border-radius: 10px;
        background-color: aliceblue;
    }
        .Comment .content .our {
            color: #ccc;
            width: 16px;
            height: 61px;
            margin-top: 4px;
            font-size: 12px;
            line-height: 18px;
            padding: 0 12px 0 25px;
            display:block;
        }
        .Comment .content .pingjia {
            display: inline-block;
            position: relative;
            left: 70px;
            top: -23px;
            color: #ff0036;
            border-color: #ffd7dd;
            border:0.5px solid #c8c8c8;
        }
        .Comment .content .pingjia .pingjia1{
            font-size:16px;
        }
    .Comment .select {
        display: inline-block;
        height: 50px;
        border: 0.5px solid #c8c8c8;
        border-radius: 10px;
        background-color: aliceblue;
        top: 151px;
        right: 2px;
        width: 700px
    }

    .Comment .select .block{
        display:block;
        margin:15px 0 0 25px ;
    }

    .Comment .part{
        display:block;
    }
    .Comment .part .part-content{
        border:0.5px solid #c8c8c8;
        border-top:none;
    }
        .Comment .part .part-content p{
            border-top:0 solid ;
            clear:both;
        }
        .Comment .part .part-content .user {
            height: 80px;
            width: 100px;
            float: left;
        }
            .Comment .part .part-content .user .userimg {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display:block;
                margin:14px 0 0 26px;
            }
            .Comment .part .part-content .user .usernum {
                display: block;
                margin-left: 28px;
            }
            .Comment .part .part-content .content-box {
                float: right;
                width: 595px;
            }
                .Comment .part .part-content .content-box .content-time{
                    display:block;
                    margin-top:15px;
                }


                .Comment .part .partcont {
                    width: 700px;
                    border: 0.5px solid #c8c8c8;
                    border-top: none;
                }
            .Comment .part .partcont p {
                border-top: 0 solid;
                clear: both;
            }
            .Comment .part .addcontent-user {
                height: 80px;
                width: 100px;
                float: left;
            }
            .Comment .part .addcontent-user .userimg {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: block;
                margin: 14px 0 0 26px;
            }
            .Comment .part .addcontent-user .usernum {
                display: block;
                margin-left: 28px;
            }
        .Comment .part .addcontent-con {
            float: right;
            width: 595px;
            border:0.5px solid #c8c8c8;
        }
        .Comment .part .addcontent-add {
            float: right;
            width: 595px;
            border: 0.5px solid #c8c8c8;
        }