@model IEnumerable<Models.UserLeave>
@{ 
    Layout = null;
}

@{
    if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="row clearfix" style="min-height:110px;">
                <div class="col-md-2 column">
                    <img alt="photo" src="@item.Users.photo" style="width:40px;height:40px;border:1px solid grey;overflow:hidden" />
                </div>
                <div class="col-md-10 column">
                    <p>
                        @item.Leave_content
                    </p>
                    <p style="color:green;">
                        <a href="@Url.Action("UserSingerInfo", "Singers",new { id = item.Users.userId})" style="display:inline-block;">@@@item.Users.name</a>
                        <span style="display:inline-block;">留言于 @item.Leave_time.ToString().Substring(0, item.Leave_time.ToString().Length - 3)</span>
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <br />
        <p>该用户暂无留言哦~</p>
    }

}


