@{
    Layout = null;
}
<div>
    <div style="padding-top:5px;padding-bottom:10px;">
        <label style="width:200px;font-size:15px;font-weight:600">商城管理&nbsp;&rang;&nbsp;商城销售数据</label>
    </div>
    <div>
        该功能正在开发中,敬请期待......
    </div>
</div>

