@{
    Layout = null;
}
<div style="padding-top:5px;">
    <label style="width:200px;font-size:15px;font-weight:600">用户管理&nbsp;&rang;&nbsp;音悦人申请</label>
</div>
<table class="layui-hide" id="demo" lay-filter="tableData"></table>

<script type="text/javascript" src="~/Content/layui-v2.5.6/layui/layui.all.js"></script>
<script>
layui.use(['laypage', 'layer', 'table','element'], function(){
  var laypage = layui.laypage //分页
  ,layer = layui.layer //弹层
  ,table = layui.table //表格
  , element = layui.element //元素操作

  //执行一个 table 实例
  table.render({
      elem: '#demo'
    , id: 'tableData'
    , url: '/Admin/GetUserSingerApply' //数据接口
    , title: '音悦人申请表'
    , page: true //开启分页
    , limit: 12
    , method: 'get'  //提交方式
    , toolbar: '#toolbar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
    ,cols: [[ //表头
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'Pno', title: '流水号', fixed: 'left'}
      ,{field: 'userId', title: '申请用户ID',}
      ,{field: 'applytime', title: '申请时间', sort: true, templet: '<div>{{ createTime(d.applytime)}}</div>' }
      ,{field: 'deal_state', title: '处理', width: 250, align: 'center', templet: function (d) {
              if (d.deal_state == 0) {
                  return '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-search"></i>审核</a>' + '<a class="layui-btn layui-btn-xs" lay-event="agree"><i class="layui-icon layui-icon-ok-circle"></i>通过</a>' + '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="back"><i class="layui-icon layui-icon-return"></i>驳回</a>';
              }
              else if (d.deal_state == 1) {
                  return '<span style="color: #18A4D0;">已处理</span>';
              }
          }
      }
    ]]
  });

  //监听行工具事件
  table.on('tool(tableData)', function(obj) {
      var data = obj.data;
      json = JSON.stringify(data);
      switch(obj.event) {
          case 'detail':
              var index = layer.open({
                  type: 2,
                  title: "审核详情",
                  area: ['40%', '70%'],
                  fix: false,
                  maxmin: true,
                  shadeClose: true,
                  shade: 0.4,
                  skin: 'layui-layer-rim',
                  content: ["/Admin/ApplyDetails/" + data.userId],
              });
              break;
          case 'back':
              var backIndex = layer.confirm("确认驳回用户" + data.userId + "的音悦人申请吗?", function (backIndex) {
                  $.ajax({
                      url: ["/Admin/BackApply"],
                      data: {
                          Pno: data.Pno,
                      },
                      type: "post",
                      success: function (suc) {
                          if (suc.code == 200) {
                              layer.msg("驳回成功", {
                                  icon: 1
                              });
                              table.reload('tableData', {
                                  method: 'post'
                                  , url: '/Admin/GetUserSingerApply'
                                  , page: {
                                      curr: $(".layui-laypage-em").next().html() //重载当前页
                                  }
                              });
                          } else {
                              layer.msg("驳回失败", {
                                  icon: 5
                              });
                          }
                      }
                  });
                  layer.close(backIndex);
              });
              break;
          case 'agree':
              var agreeIndex = layer.confirm('确认通过ID为:' + data.userId + "的音悦人申请吗?", function (agreeIndex) {
                  $.ajax({
                      url: ["/Admin/AgreeApply"],
                      data: {
                          Pno: data.Pno,
                          userId: data.userId,
                      },
                      type: "post",
                      success: function (suc) {
                          if(suc.code==200) {
                              layer.msg("已通过", {
                                  icon: 1
                              });
                              table.reload('tableData', {
                                  method: 'post'
                                  , url: '/Admin/GetUserSingerApply'
                                  , page: {
                                      curr: $(".layui-laypage-em").next().html() //重载当前页
                                  }
                              });
                          } else {
                              layer.msg("未通过", {
                                  icon: 5
                              });
                          }
                      }
                  });
                  layer.close(agreeIndex);
              });
              break;
      }
  });

  //分页
  laypage.render({
    elem: 'pageDemo' //分页容器的id
    ,count: 100 //总页数
    ,skin: '#1E9FFF' //自定义选中色值
    //,skip: true //开启跳页
    ,jump: function(obj, first){
      if(!first){
        layer.msg('第'+ obj.curr +'页', {offset: 'b'});
      }
    }
  });

});
</script>
