
@{
    Layout = null;
}
<head>
    <style type="text/css">
        .num {
            left: 290px;
            display: block;
            width: 15px;
            height: 16px;
            border-radius: 50%;
            background: red;
            color: white;
            text-align: center;
            font-size: 12px;
            line-height: 18px;
            position: absolute;
            top: 216px;
        }
    </style>
</head>
<a id="mycomment" style="cursor:pointer;">
    <i></i><span>我的待评论</span><span class="num">@ViewData["number"]</span>
</a>